body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #8338EC !important;
}

label {
  color: #8338EC !important;
}

.MuiTextField-root {
  width: 300px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}


.rotate {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-animation:spin 0.75s linear infinite;
  -moz-animation:spin 0.75s linear infinite;
  animation:spin 0.75s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
